* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/* header styles */
header {
    background: #31343C;
    padding: 10px 35px 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 a {
    color: #31343C;
    background: #9ECACC;
    padding: 5px 10px 4px 50px;
    border-bottom: 10px solid #31343C;
}

header a {
    text-decoration: none;
    color: #9ECACC;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    margin: 10px 3px;
    padding: 3px 10px;
    font-weight: lighter;
    font-size: 14px;
    border-bottom: 3px solid #9ECACC;
}

/* Hero section styles */

.hero {
    background: orange;
    width: 100%;
    height: 150px;
    padding: 0 10px 0 0;
    margin-bottom: 16px;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: flex-end;
}

.hero-subtitle {
    background: #9ECACC;
    padding: 6px 10px;
    margin-right: 40px;
    margin-bottom: 15px;
    font-size: 26px;
    color: #31343C;
}

/* main-content section */
.main-content {
    padding: 10px 40px;
}

/* "About Me" section */
.border-left {
    border-left: 3px solid #485774;
}

.border-right {
    border-right: 3px solid #485774;
}

.about-section {
    display: flex;
    margin-bottom: 16px;
}

.about-text {
    padding-left: 26px;
    padding-bottom: 10px;
}

.about-text p {
    font-size: 12px;
    line-height: 1.5;
}

.section-title {
    padding-right: 10px;
    font-size: 26px;
    text-align: right;
    color: #485774
}


